<% title "SYN:APSE Simulation Center" %>

<p class="user_control"><%= link_to "Log Out", logout_path %></p>

<div id="container">
  <p>Welcome back <strong><%= @current_instructor.name %>.</strong> (Not you? <%= link_to "log out", logout_path %>).</p>
  <p><%= link_to "Enter a new class", new_event_path %></p>
</div>
