:markdown
  ## Program Development

  SYN:APSE Simulation Center is a resource for the entire Yale New Haven Health
  System (YNHHS) committed to optimizing healthcare delivery and engendering a
  culture of patient safety through the development of innovative experiential
  learning initiatives designed to achieve measurable outcomes.

  All YNHHS members considering developing a simulation-based educational
  initiative must define a desired outcome by which we can measure the
  effectiveness and impact of the program.  New projects and courses are
  prioritized based on current institutional needs.  Below is our course
  development process which begins with a course proposal /  application.  All
  applications are reviewed by Director of Simulation at YNHHS and SYN:APSE
  educators.  After submitting an application, a member of SYN:APSE will contact
  you in 3-5 business days to coordinate an informational meeting. Please click
  here to begin the application process.

  ![Simulation Program Design Process](/images/programDesignProcess.png)
