- title "Thank you for your application"
%h2 Thank you for your application submission.
%p A copy of the application was sent to <code>#{@program_submission.email}</code>
%p You should hear from us shortly.
