- title "Thank you for your application"
:markdown
  ## Thank you for your application submission.

  A copy of the application was sent to `#{@program_submission.email}`

  You should hear from us shortly.

  If you have any questions or concerns please call #{Option.value_for("scheduler_phone")}
