log/*.log
tmp/**/*
tmp/tags
.DS_Store
public/cache/**/*
doc/api
doc/app
config/database.yml
config/config.yml
config/email.yml
db/*.sqlite3
app/views/**_mailer/*.text.html.erb
app/views/**_mailer/*.text.plain.erb
public/images/logo.png
.rvmrc
vendor/gems
vendor/rails
.todo
.bundle
public/system
sync
