- title "Event Calendar"
- javascript (APP_CONFIG[:use_minified_js] ? 'fullcalendar.min' : 'fullcalendar')
- stylesheet 'fullcalendar'
- stylesheet 'fullcalendar.print', :media => :print
- stylesheet "calendar-fixes"
- add_nav_link "Print Agenda", agenda_path, { :icon => 'print', :is_button => true }
- wide_content
:css
  #controls-box { margin: 0 0 10px 0; }
:javascript
  $(document).ready(function () {
    $("#calendar").fullCalendar({
        firstDay: 1, // Monday
        events: '/calendar/events',
        defaultView: 'agendaWeek',
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
        }
    });

    $("#calendar-legend").wrap("<div class=\"ui-widget\" />").
        addClass("ui-corner-all ui-helper-clearfix");
  });
#calendar-header.calendar-home-link
#calendar
#calendar-footer.calendar-home-link
  = link_to "Home", root_path
  #calendar-legend
    - @facilities.each do |f|
      %span.fc-event.fc-event-hori.fc-corner-left.fc-corner-right{:style=>"background-color:#{h f.agenda_color};"}
        =h f.name
    %span.fc-event.fc-event-hori.fc-corner-left.fc-corner-right{:style=>"background-color:#{Option.find_option_for("not_approved_color").value};"}
      %strong Not Approved
    %span.fc-event.fc-event-hori.fc-corner-left.fc-corner-right{:style=>"background-color:#{Option.find_option_for("special_event_color").value};"}
      %strong Special Event
