<% title "Event Calendar" %>
<% stylesheet "calendar-fixes" %>

<div id="calendar-header" class="calendar-home-link">
</div>

<div id="calendar"> </div>

<div id="calendar-footer" class="calendar-home-link">
  <%= link_to "Home", root_path %>
</div>
