- title "Event Calendar"
- stylesheet "calendar-fixes"
- wide_content
#calendar-header.calendar-home-link
#calendar
#calendar-footer.calendar-home-link
  = link_to "Home", root_path
  #calendar-legend
    %span.fc-event.fc-event-hori.fc-corner-left.fc-corner-right.waiting-approval
      Waiting for approval
    %span.fc-event.fc-event-hori.fc-corner-left.fc-corner-right.approved
      Approved
