/ Skeleton template.
%h2 Template File: calendar/tech_schedule.html.haml
%p
  week_index: #{h @week_index}
%p
  Tech:
  %code #{h @tech.inspect}
%p
  Technicians:
  %code #{h @technicians.inspect}
%p
  Events:
  %code #{h @events.inspect}
