- title "Instructor"
- unless @instructor == @current_instructor
  %p
    %strong You are editing someone elses profile
.grav-icon
  = link_to image_tag(@instructor.gravatar_url(:size => 80)), "http://gravatar.com/"
%p
  %strong Joined on #{d @instructor.created_at}
= render :partial => 'form'
