/* Custom look and feel */

#logo-container {
}

.box {
  margin: 20px auto 0px auto;
  background-color: #FFF;
  padding: 5px 40px;
}

.border {
  border: solid 1px black;
}

.scenario-title {
  margin-bottom: 20px;
  font-size: 1.3em;
}

.scenario-title span {
  padding: 0px 5px 10px 5px;
  border-bottom: solid thin black;
}

/* Fix for IE that renders the nav bar incorrectly. */
li { height: 1%; }

/* Secret test link */
#test_link {
  float: right;
  margin: 0;
  padding: 0;
}

#test_link a {
  display: inline-block;
  width: 10px;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

#test_link a:hover {
  background-color: #36D;
  text-decoration: none;
}

#test_link a:visited {
  text-decoration: none;
}

#test_link a:active {
  text-decoration: none;
}
