- semantic_form_for @options["system_email_recipients"], :namespace => "system_email_recipients" do |f|
  - f.inputs do
    -# FIXME: How do we populate the selected options?
    = f.input :value,
      :as => :multiselect,
      :collection => Instructor.all,
      :label => "System email recipients",
      :hint => "Select who should recieve system email notifications."
  = f.buttons
