<% title "New Manikin" %>

<%= render :partial => 'form' %>

<p>
  <%= link_to_home "Cancel" %>
  <% if @current_instructor.admin? -%>
    | <%= link_to_confirm "View All manikins", manikins_path %>
  <% end -%>
</p>
