<% title "New Event" %>

<%= render :partial => 'form' %>

<p>
  <%= link_to "Cancel", root_url %>
  <% if @current_instructor.admin? -%>
    | <%= link_to "View All Events", events_path %>
  <% end -%>
</p>
