development:
  delivery_method: "sendmail"
  raise_delivery_errors: true

test:
  delivery_method: "sendmail"
  perform_deliveries: false
  raise_delivery_errors: false

production:
  delivery_method: "smtp"
  raise_delivery_errors: false
  address: "localhost"
  port: 25
