- title "Edit Scenario"
= render :partial => 'form'
%p
  = link_to_confirm "Show", @scenario
  - if @current_instructor.admin?
    | #{link_to_confirm "View All Scenarios", scenarios_path}
  | #{link_to_confirm "Cancel", @scenario.event}
