<% title "New Scenario" %>

<%= render :partial => 'form' %>

<p>
  <%= link_to_confirm "Cancel", root_url %>
  <% if @current_instructor.admin? -%>
    | <%= link_to_confirm "View All scenarios", scenarios_path %>
  <% end -%>
</p>
