<% title "Welcome" %>

<p>Don't have an account? <%= link_to "Sign up!", signup_path %></p>

<% semantic_form_for @instructor_session do |f| %>
  <%= f.inputs :email, :password %>
  <% f.buttons do %>
    <%= f.commit_button :login %>
  <% end %>
<% end %>
